* {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  outline: none;
}
body {
  background: #f1c40f;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  display:flex;
  flex-direction: column;
  justify-content: center;
  place-content: center;
  /* border-radius: 50%; */
}

@media (min-width: 300px) and (max-width: 600px) {
  body {
    overflow: hidden;
    transform: scale(0.5);
    transform-origin: left;
  }
}



.sliderClass {
  display: flex;
  flex-direction: row;
  padding: 0px 100px 0px 0px;
}

#sliders {
  display: flex;
  flex-direction: row;
}

#res {
  min-width: 150px;
}